[submodule "libs/Builder.js"]
	path = libs/Builder.js
	url = git@github.com:JWhile/Builder.js.git
[submodule "libs/Fus"]
	path = libs/Fus
	url = git@github.com:JWhile/Fus.git
[submodule "libs/selectText"]
	path = libs/selectText
	url = https://gist.github.com/8415008.git
[submodule "libs/parseUrl.js"]
	path = libs/parseUrl.js
	url = git@github.com:JWhile/parseUrl.js.git
